body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0 0 5px;
}


/* Bayan */

.bayan {
    max-width: 500px;
    margin: 20px auto;
}

.bayan-item {
    margin-bottom: 5px;

    border: 1px solid green;
}

.bayan-title {
    display: block;
    padding: 10px 15px;
    position: relative;
    color: black;
    cursor: pointer;
    transition: background .2s ease-out;
}

.bayan-title:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.bayan-title:hover {
    background-color: green;
}

.bayan-input {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.bayan-input:checked~.bayan-title {
    background-color: green;
}

.bayan-input:checked~.bayan-title:after {
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent black transparent;
}

.bayan-input:checked~.bayan-text {
    display: block;
}

.bayan-text {
    display: none;
    padding: 10px 15px;
    color: black;
    font-size: 14px;
}




@media (max-width: 1919px) {
    body {
        font-size: 1.7em;
    }

    .bayan-text {
        font-size: 0.8em;
    }
}

@media (max-width: 819px) {
    body {
        font-size: 2em;
    }

    .bayan-text {
        font-size: 0.75em;
    }
}