body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0 0 5px;
}


/* Bayan */

.bayan {
    max-width: 500px;
    margin: 20px auto;
    transition: 1s;
}

.bayan-item {
    margin-bottom: 5px;
    border: 1px solid green;
    transition: 1s;
}

.bayan-title {
    display: block;
    padding: 10px 15px;
    position: relative;
    color: black;
    transition: 1s;
}

.bayan-title:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: 1s;
}

.bayan-title:hover {
    background-color: green;
    transition: 1s;
}

.bayan-input {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    transition: 1s;
}

.bayan-input:checked~.bayan-title {
    background-color: green;
    transition: 1s;
}

.bayan-input:checked~.bayan-title:after {
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent black transparent;
    transition: 1s;
}

.bayan-input:checked~.bayan-text {
    display: block;
    animation: fade-in 1s;
}

.bayan-input:checked~.bayan-meme {
    display: flex;
    animation: fade-in 1s;
}

.bayan-input:hover~.bayan-text {
    display: block;
    animation: fade-in 1s;
}

.bayan-input:hover~.bayan-meme {
    display: flex;
    animation: fade-in 1s;
}

.bayan-text {
    display: none;
    padding: 10px 15px;
    color: black;
    font-size: 14px;
    cursor: pointer;
}

.scale {
    display: inline-block;
    overflow: hidden;
}

.scale img {
    transition: 1s;
    display: block;
}

.scale img:hover {
    transform: scale(1.2);
}

.bayan-meme {
    display: none;
    padding: 10px 15px;
    color: black;
    font-size: 14px;
    cursor: pointer;
}

@media (hover: hover) {
    label:hover+.content {
        height: 100%;
        opacity: 100%;
        transition: 1s;
    }

    .content:hover {
        height: 100%;
        opacity: 100%;
        transition: 1s;
    }

}

@media (max-width: 1919px) {
    body {
        font-size: 1.7em;
    }

    .bayan-text {
        font-size: 0.8em;
    }
}

@media (max-width: 819px) {
    body {
        font-size: 2em;
    }

    .bayan-text {
        font-size: 0.75em;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}